*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
    background-color: #f9f9f9;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

header{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

header h1{
    font-family: "Fjalla One", sans-serif;
}

img{
    width: 100px;
}

form{
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}

fieldset{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend{
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

label{
    margin-bottom: 5px;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="color"]),
select,
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"]{
    width: auto;
    margin-right: 8px;
    margin-bottom: 10px;
    vertical-align: middle;
}

input[type="color"]{
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: none;
}

textarea{
    min-height: 100px;
}

input[type="text"]:required:invalid,
input[type="number"]:required:invalid,
input[type="email"]:required:invalid,
input[type="date"]:required:invalid{
border: 2px solid red;
}

input[type="text"]:required:valid,
input[type="number"]:required:valid,
input[type="email"]:required:valid,
input[type="date"]:required:valid{
border: 2px solid rgba(64, 240, 0, 0.59);
}

button{
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: #0056b3;
}
button[type="reset"]:hover{
    background-color: #dc3545;
}